# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs and distributions
dist/
dist-ssr/
build/
out/
.vercel/
.netlify/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor/OS Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local

# Testing caches and logs
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_js/
.rts2_cache_ts/
.tscache/

# Vite/Next.js cache
.vite/
.next/
